body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: silver;
}

code {
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

@font-face {
  font-family: Bernier;
  src: url('../public/BERNIER™\ Regular.ttf');
}

@media (max-width: 1000px) {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: silver;
    height: 1800px;
  }

}