.place-main {
    width: 100vw;
    color: silver;
    min-height: 33vw;
}

.place-details {
    width: 90vw;
    margin-left: 5vw;
    height: 33vw;
    display: flex;
    flex-direction: row;
    background-color: black;
    margin-top: 12vw;
    border-radius: 15px;
    box-shadow: 0 0 1em black;
}

.place-image {
    width: 45%;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
}

.place-image img {
    margin-left: 5%;
    width: 80%;
    height: 90%;
    border-radius: 15px;

}

.place-text {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 55%;
}

.place-text p,
h1 {
    width: 85%;
}

.place-photos {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vw;
}

.place-photos img {
    width: 21%;
    height: 17vw;
    margin-left: 1%;
    border-radius: 15px;
    box-shadow: 0 0 1em black;
}

@media (max-width: 1000px) {
    .place-main {
        margin-top: 25vw;
        display: flex;
        flex-direction: column;
    }

    .place-details {
        display: flex;
        flex-direction: column;
        height: 120vw;
        margin-top: 0vw;
    }

    .place-image {
        width: 100%;
        height: 50%;
        justify-content: center;
        margin-top: 3vw;
    }

    .place-image img {
        width: 70%;
        margin-left: 0%;
    }

    .place-text {
        width: 100%;
        height: 50%;
    }

    .place-photos {
        width: 80%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        height: 160vw;
    }

    .place-photos img {
        width: 70%;
        height: 50vw;
        margin-top: 2vw;
        margin-left: 25%;
    }

    .place-photos .img-left {
        margin-right: 50%;
    }
}